<h1>calculation</h1>
<hr>
<div class="card">
    <div class="card-body">
       <div class="mb-3 row">
            <label>Value A</label>
            <div class="col-sm-10">
              <input type="text" class="form-control"  [(ngModel)]="a">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="">Value B</label>
            <div class="col-sm-10">
              <input type="text" class="form-control"  [(ngModel)]="b">
            </div>
          </div>
         
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <button class="btn btn-primary me-md-2" type="button" (click)="add()">add</button>
                <button class="btn btn-primary" type="button"(click)="sub()">sub</button>
                <button class="btn btn-primary" type="button"(click)="div()">div</button>
                <button class="btn btn-primary" type="button"(click)="mul()">mut</button>
                <button class="btn btn-primary" type="button" (click)=" clr()">clr</button>
          </div>
          <br>
          <h3>TOTAL:{{res}}</h3>
    </div>
  </div>